unset GOPATH

if [[ "$(uname -s)" =~ [lL]inux ]]; then
    export GOROOT="$(brew --prefix)/bin/$(dirname $(dirname $(readlink /home/linuxbrew/.linuxbrew/bin/go)))/libexec"
else
    export GOROOT="/usr/local/opt/go/libexec"
fi

export PATH="${PATH}:${GOROOT}/bin"
layout go
