unset GOPATH

if [[ "$(uname -s)" =~ [lL]inux ]]; then
    export GOROOT="$(brew --prefix)/bin/$(dirname $(dirname $(readlink /home/linuxbrew/.linuxbrew/bin/go)))/libexec"
else
    export GOROOT="/usr/local/opt/go/libexec"
fi

export PATH="${GOROOT}/bin:${PATH}"

export GO111MODULE="on"
# Disabled.
#export GOPRIVATE=""
#export GOPROXY="direct"
#export GOSUMDB="off"

source_up
layout golang
