._*
*~

*.[568avq]
[568avq].out
core

_cgo_*
_obj
_test
_testmain.go
test.out
vendor/
_?vendor
Godeps/_vendor
Godeps/_workspace
**/*.coverprofile

__pycache__/

*.o
*.a
*.obj
*.elf
*.dylib
*.[as]o
*.[mk]o
*.[568ao]
*.bundle
*.un~
*.rbc
*.py[cod]
*.exe
*.exe~
*.com
*.dll
*.class
*.sqlite
*.tmproj*
*.sw[a-z]
*.cgo*.go
*.cgo*.c
.*.sw[a-z]
.nfs.*
*.egg-info/
*.egg
.installed.cfg

*.[7gx]z
*.[jrt]ar
*.zip

*.dmg
*.iso
*.gem

*.rej
*.orig

*.log

*.test
*.prof
*.out

.git
.svn
.cvs

.Python
pip-log.txt
pip-*-directory.txt

.bundle
.config
Gemfile.lock

.gems
.rbenv
.ruby-version
.ruby-gemset
.rbenv-gemsets

.directory

.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
.Spotlight-*
.Trash*

.vagrant

.direnv
.envrc

Icon?
Icon[]

.idea
.vscode

tmp

coverage/
coverage.*

*.box
packer*.log
virtualfloppy.vfd
packer_cache
