$include /etc/inputrc

set bell-style none

set keymap emacs
set editing-mode emacs

set meta-flag on

set input-meta on
set output-meta on
set convert-meta off

set expand-tilde on

set visible-stats on
set colored-stats on

set bind-tty-special-chars off

set show-all-if-ambiguous on
set show-all-if-unmodified on

set skip-completed-text on

set completion-map-case on
set completion-ignore-case on
set completion-query-items 1000
set page-completions off

set print-completions-horizontally on
set mark-symlinked-directories on
set menu-complete-display-prefix on

set enable-bracketed-paste on

set colored-completion-prefix on
set colored-stats on

$if Bash
  "\C-r": "\C-a hstr -- \C-j"
  "\C-xk": "\C-a hstr -k \C-j"
  Space: magic-space
$endif

$if Python
$endif

"\e0d": backward-word
"\e0c": forward-word
"\e[h": beginning-of-line
"\e[f": end-of-line
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[3~": delete-char
"\e[2~": quoted-insert
