$include /etc/inputrc

set bell-style none

set keymap emacs
set editing-mode emacs

set meta-flag on
set input-meta on
set output-meta on
set convert-meta off

set expand-tilde on
set visible-stats on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on

set completion-map-case on
set completion-ignore-case on
set completion-query-items 100

set page-completions off
set print-completions-horizontally on
set mark-symlinked-directories on

$if Bash
  "\C-r": "\C-a_run_hh \C-j"
  Space: magic-space
$endif

"\e0d": backward-word
"\e0c": forward-word
"\e[h": beginning-of-line
"\e[f": end-of-line
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[3~": delete-char
"\e[2~": quoted-insert
