encoding.add = utf8

keys.layout.set = qwerty

session.path.set = ~/.rtorrent/session

throttle.max_uploads.global.set = 10
throttle.global_up.max_rate.set_kb = 128

network.port_range.set = 8192-65535
network.port_random.set = yes

network.http.dns_cache_timeout.set = 30

dht.mode.set = on

protocol.pex.set = yes

trackers.disable = no
trackers.use_udp.set = yes

pieces.hash.on_completion.set = yes

protocol.encryption.set = allow_incoming, try_outgoing, enable_retry

strings.ip_tos = throughput
strings.connection_type = leech
strings.encryption = allow_incoming, try_outgoing, enable_retry
