[Desktop Entry]
Type=Application
Exec=/usr/bin/1password --silent
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=1Password
Name=1Password
Comment[en_GB]=The 1Password desktop experience
Comment=The 1Password desktop experience.
