"*":
  core:
    allowPendingPaneItems: false
    automaticallyUpdate: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "Hack"
    fontSize: 12
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  welcome:
    showOnStartup: false
