export PIP_REQUIRE_VIRTUALENV=true
export PIP_DOWNLOAD_CACHE=${HOME}/.pip/cache

export WORKON_HOME=${HOME}/.virtualenvs
export PROJECT_HOME=${HOME}/Projects/Work

export VIRTUALENVWRAPPER_PYTHON=/usr/local/bin/python
export VIRTUALENVWRAPPER_VIRTUALENV=/usr/local/bin/virtualenv

export VIRTUALENVWRAPPER_VIRTUALENV_ARGS="--no-site-package --relocatable"

source /usr/local/bin/virtualenvwrapper.sh
